
/* div.wpcf7 {
  background-color: #fbefde;
  border: 1px solid #666;
  border-radius: 3.5px;
  padding:20px;
} */

* {
  box-sizing: border-box;
}

html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

body {
  font-family: Rubik,-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: rgb(73, 80, 87);
}

h1 {
  font-weight: 300;
  line-height: 3rem;
  display: block;
  font-size: 2.5rem;
  margin-bottom: 1.5rem;
  font-family: inherit;
  color: rgb(52, 58, 64);
}

.lead {
  line-height: 1.875rem;
  font-weight: 400;
  margin-bottom: 1.5rem;
  font-size: 1.25rem;
  color: rgb(73, 80, 87);
}

.loan-amount {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  height: calc(2.875rem + 2px);
  padding-left: .75rem;
  font-size: 1rem;
  padding: .6875rem 1.5rem;
  line-height: 1.5;
  color: rgb(73, 80, 87);
  background-color: rgb(255, 255, 255);
  border: 1px solid rgb(206, 212, 218);
}

.wpcf7-form {
  font-family: 'Roboto', sans-serif;
  border-radius: 4px;
  border: 1px rgb(221, 221, 221) solid;
  background-color: rgb(255, 255, 255);
  line-height: 19px;
  color: rgb(17, 17, 17);
  padding: 20px 26px;
  transition: all 100ms linear;
}

.container {
	margin: auto;
  max-width: 1140px;
  padding-right: 12px;
  padding-left: 12px;
  margin-right: auto;
  margin-left: auto;
  width: 100%;
}

.wpcf7 input[type="text"],
.wpcf7 input[type="email"],
.wpcf7 input[type="select"],
.wpcf7 input[type="tel"],
.wpcf7 textarea {
  display: block;
  width: 100%;
  color: rgb(73, 80, 87);
  background-color: rgb(255, 255, 255);
  border: 1px solid rgb(206, 212, 218);
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.9;
  color: rgb(73, 80, 87);
  margin-bottom: 1rem;
  text-align: left;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

#special-field {
  color: rgb(12, 84, 96) !important;
  background-color: rgb(209, 236, 241) !important;
  border-color: rgb(190, 229, 235) !important;
  font-size: .725rem !important;
  position: relative !important;
  padding: 1.2em 2em !important;
}

#special {
  margin-bottom: 0px !important;
}

.wpcf7 textarea:focus,
.wpcf7 input:focus {
  color: rgb(73, 80, 87) !important;
  background-color: rgb(255, 255, 255)  !important;
  border-color: rgb(185, 208, 248) !important;
  outline: 0 !important;
  box-shadow: 0 0 0 0.2rem rgba(0,123,255,.25) !important;
}

.wpcf7 input[type="submit"],
.wpcf7 input[type="button"] {
  color: rgb(255, 255, 255) !important;
  background-color: rgb(2, 184, 117) !important;
  border-color: rgb(2, 184, 117) !important;
  font-size: 1.5rem !important;
  font-weight: bold !important;
  width: 100% !important;
  line-height: 29px !important;
  cursor: pointer !important;
  text-decoration: none !important;
  margin-top: .75rem !important;
  display: inline-block !important;
  text-align: center !important;
  vertical-align: middle !important;
  user-select: none !important;
  border-radius: 3px !important;
  border-style: solid !important;
  border-width: 1px !important;
  vertical-align: middle !important;
  overflow: hidden !important;
  padding: 1.2em 2em !important;
  margin-top: 2em !important;
  border-radius: .25rem !important;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out,-webkit-box-shadow .15s ease-in-out !important;
}

.wpcf7 input[type="submit"]:hover,
.wpcf7 input[type="button"]:hover {
  color: rgb(255, 255, 255) !important;
  background-color: rgb(2, 146, 93) !important;
  border-color: rgb(1, 134, 85) !important;
}

::-webkit-input-placeholder { /* WebKit browsers */
  color: rgb(206, 212, 218) !important;
  opacity: 1;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
  color: rgb(206, 212, 218) !important;
  opacity: 1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
  color: rgb(206, 212, 218) !important;
  opacity: 1;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
  color: rgb(206, 212, 218) !important;
  opacity: 1;
}
